<article class="template-root museum-spec-sheet">
  <header class="museum-spec-sheet__title">자료명세서</header>

  <table class="museum-spec-sheet__table">
    <colgroup>
      <col class="c1" />
      <col class="c2" />
      <col class="c3" />
      <col class="c4" />
      <col class="c5" />
      <col class="c6" />
      <col class="c7" />
    </colgroup>

    <tr>
      <th rowspan="8" colspan="3" class="sheet-blank"></th>
      <th class="sheet-label">자료구분</th>
      <td colspan="3">[[자료구분]]</td>
    </tr>
    <tr>
      <th class="sheet-label">자료번호</th>
      <td class="sheet-center" colspan="2">[[자료번호]]</td>
      <td class="sheet-center">[[세부번호]]</td>
    </tr>
    <tr>
      <th class="sheet-label">명칭</th>
      <td colspan="3">[[명칭]]</td>
    </tr>
    <tr>
      <th class="sheet-label">이명칭</th>
      <td colspan="3">[[이명칭]]</td>
    </tr>
    <tr>
      <th class="sheet-label">영문 명칭</th>
      <td colspan="3">[[영문 명칭]]</td>
    </tr>
    <tr>
      <th class="sheet-label">작가</th>
      <td colspan="3">[[작가]]</td>
    </tr>
    <tr>
      <th class="sheet-label">수량</th>
      <td colspan="3">[[수량]] [[수량단위]]</td>
    </tr>
    <tr>
      <th class="sheet-label">ICAO</th>
      <td colspan="3">[[ICAO]]</td>
    </tr>

    <tr>
      <th class="sheet-side">현존여부</th>
      <td class="sheet-center" colspan="2">[[CHECKMAP:현존여부|Y=여,N=부]]</td>
      <th class="sheet-label">관리번호</th>
      <td class="sheet-center" colspan="3">[[관리번호]]</td>
    </tr>
    <tr>
      <th class="sheet-side">보존처리 필요</th>
      <td class="sheet-center" colspan="2">[[CHECKMAP:보존처리 필요|Y=여,N=부]]</td>
      <th class="sheet-label">전시여부</th>
      <td class="sheet-center" colspan="3">[[CHECKMAP:전시여부|Y=여,N=부]]</td>
    </tr>

    <tr>
      <th class="sheet-side" rowspan="2">분류체계</th>
      <th class="sheet-sub">주제</th>
      <td>[[분류체계(주제)]]</td>
      <th class="sheet-label">재질</th>
      <td colspan="3">[[분류체계(재질)]]</td>
    </tr>
    <tr>
      <th class="sheet-sub">유형</th>
      <td>[[분류체계(유형)]]</td>
      <th class="sheet-label">용도/기능</th>
      <td colspan="3">[[분류체계(용도/기능)]]</td>
    </tr>

    <tr>
      <th class="sheet-side">국적</th>
      <th class="sheet-sub">국적</th>
      <td class="sheet-center">[[국적]]</td>
      <th class="sheet-label">국적별 시대</th>
      <td class="sheet-center">[[시대]]</td>
      <th class="sheet-label">시대(상세)</th>
      <td class="sheet-center">[[연도]]</td>
    </tr>
    <tr>
      <th class="sheet-side">크기</th>
      <td class="sheet-center" colspan="6">[[크기]] / [[실측부위(1)]] [[실측치(1)]] [[실측치(1)단위]] / [[실측부위(2)]] [[실측치(2)]] [[실측치(2)단위]] / [[실측부위(3)]] [[실측치(3)]] [[실측치(3)단위]]</td>
    </tr>

    <tr>
      <th class="sheet-side" rowspan="3">분류</th>
      <th class="sheet-sub" rowspan="2">1차</th>
      <td colspan="5">[[CHECK:분류(1차)|금속]] [[CHECK:분류(1차)|세라믹]] [[CHECK:분류(1차)|석재]] [[CHECK:분류(1차)|목재]] [[CHECK:분류(1차)|종이]]</td>
    </tr>
    <tr>
      <td colspan="5">[[CHECK:분류(1차)|모피/가죽]] [[CHECK:분류(1차)|섬유/직물]] [[CHECK:분류(1차)|필름류]] [[CHECK:분류(1차)|고분자물질]] [[CHECK:분류(1차)|혼합재질]]</td>
    </tr>
    <tr>
      <th class="sheet-sub">2차</th>
      <td class="sheet-center" colspan="2">[[분류(2차)]]</td>
      <th class="sheet-label">3차</th>
      <td class="sheet-center" colspan="2">[[분류(3차)]]</td>
    </tr>

    <tr>
      <th class="sheet-side" rowspan="11">상태</th>
      <th class="sheet-sub">손상유형</th>
      <th class="sheet-sub">여부</th>
      <th class="sheet-sub">손상유형</th>
      <th class="sheet-sub">여부</th>
      <th class="sheet-sub">손상유형</th>
      <th class="sheet-sub">여부</th>
    </tr>
    <tr>
      <td>오염물, 이물질</td>
      <td>[[CHECK:상태(손상유형)|오염물, 이물질]]</td>
      <td>변색, 퇴색, 황변</td>
      <td>[[CHECK:상태(손상유형)|변색, 퇴색, 황변]]</td>
      <td>불룩</td>
      <td>[[CHECK:상태(손상유형)|불룩]]</td>
    </tr>
    <tr>
      <td>낙서</td>
      <td>[[CHECK:상태(손상유형)|낙서]]</td>
      <td>얼룩(습해 포함)</td>
      <td>[[CHECK:상태(손상유형)|얼룩(습해 포함)]]</td>
      <td>백화</td>
      <td>[[CHECK:상태(손상유형)|백화]]</td>
    </tr>
    <tr>
      <td>부식</td>
      <td>[[CHECK:상태(손상유형)|부식]]</td>
      <td>흑화</td>
      <td>[[CHECK:상태(손상유형)|흑화]]</td>
      <td>실</td>
      <td>[[CHECK:상태(손상유형)|실]]</td>
    </tr>
    <tr>
      <td>균열</td>
      <td>[[CHECK:상태(손상유형)|균열]]</td>
      <td>산화</td>
      <td>[[CHECK:상태(손상유형)|산화]]</td>
      <td>크레이즈</td>
      <td>[[CHECK:상태(손상유형)|크레이즈]]</td>
    </tr>
    <tr>
      <td>박리</td>
      <td>[[CHECK:상태(손상유형)|박리]]</td>
      <td>꺾임</td>
      <td>[[CHECK:상태(손상유형)|꺾임]]</td>
      <td>부스러짐</td>
      <td>[[CHECK:상태(손상유형)|부스러짐]]</td>
    </tr>
    <tr>
      <td>박락</td>
      <td>[[CHECK:상태(손상유형)|박락]]</td>
      <td>마모</td>
      <td>[[CHECK:상태(손상유형)|마모]]</td>
      <td>텐트</td>
      <td>[[CHECK:상태(손상유형)|텐트]]</td>
    </tr>
    <tr>
      <td>구조변형</td>
      <td>[[CHECK:상태(손상유형)|구조변형]]</td>
      <td>바스러짐</td>
      <td>[[CHECK:상태(손상유형)|바스러짐]]</td>
      <td>천공</td>
      <td>[[CHECK:상태(손상유형)|천공]]</td>
    </tr>
    <tr>
      <td>결손</td>
      <td>[[CHECK:상태(손상유형)|결손]]</td>
      <td>접힘</td>
      <td>[[CHECK:상태(손상유형)|접힘]]</td>
      <td>수축</td>
      <td>[[CHECK:상태(손상유형)|수축]]</td>
    </tr>
    <tr>
      <td>파손</td>
      <td>[[CHECK:상태(손상유형)|파손]]</td>
      <td>찢김</td>
      <td>[[CHECK:상태(손상유형)|찢김]]</td>
      <td>스티칭</td>
      <td>[[CHECK:상태(손상유형)|스티칭]]</td>
    </tr>
    <tr>
      <th class="sheet-sub">손상등급</th>
      <td colspan="6">[[CHECKMAP:손상등급|1=1등급,2-1=2-1등급,2-2=2-2등급,3=3등급]]</td>
    </tr>

    <tr>
      <th class="sheet-side">입수일자</th>
      <td class="sheet-center" colspan="2">[[입수일자]]</td>
      <th class="sheet-label">입수연유</th>
      <td class="sheet-center" colspan="3">[[입수연유]]</td>
    </tr>
    <tr>
      <th class="sheet-side">구입구분1</th>
      <td class="sheet-center" colspan="2">[[구입구분1]]</td>
      <th class="sheet-label">구입구분2</th>
      <td class="sheet-center" colspan="3">[[구입구분2]]</td>
    </tr>
    <tr>
      <th class="sheet-side">가격</th>
      <td class="sheet-center" colspan="2">[[가격]] [[가격단위]]</td>
      <th class="sheet-label">입수처</th>
      <td class="sheet-center" colspan="3">[[입수처]]</td>
    </tr>
    <tr>
      <th class="sheet-side">입수내용</th>
      <td class="sheet-center" colspan="2">[[입수내용]]</td>
      <th class="sheet-label">입수주소</th>
      <td class="sheet-center" colspan="3">[[입수주소]]</td>
    </tr>
    <tr>
      <th class="sheet-side">등록일자</th>
      <td class="sheet-center" colspan="2">[[등록일자]]</td>
      <th class="sheet-label">문화재지정</th>
      <td class="sheet-center" colspan="3">[[문화재지정]]</td>
    </tr>

    <tr>
      <th class="sheet-side">특징</th>
      <td colspan="6" class="sheet-multiline">[[특징]]</td>
    </tr>

    <tr>
      <th class="sheet-side">자료상태</th>
      <td class="sheet-center" colspan="2">[[CHECK:자료상태|상]] [[CHECK:자료상태|중]] [[CHECK:자료상태|하]]</td>
      <th class="sheet-label">전시순위</th>
      <td class="sheet-center" colspan="3">[[CHECK:전시순위|상]] [[CHECK:전시순위|중]] [[CHECK:전시순위|하]]</td>
    </tr>
    <tr>
      <th class="sheet-side">관련자료</th>
      <td colspan="6">[[관련자료]]</td>
    </tr>
    <tr>
      <th class="sheet-side">보험 관계기록</th>
      <th class="sheet-sub">평가액</th>
      <td class="sheet-center">[[보험 관계기록(평가액)]]</td>
      <th class="sheet-label">대여기간</th>
      <td class="sheet-center">[[보험 관계기록(대여기간)]]</td>
      <th class="sheet-label">대여기관</th>
      <td class="sheet-center">[[보험 관계기록(대여기관)]]</td>
    </tr>
    <tr>
      <th class="sheet-side">비고</th>
      <td colspan="6">[[비고]]</td>
    </tr>

    <tr>
      <th class="sheet-side" rowspan="2">저작권</th>
      <th class="sheet-sub">유무</th>
      <td class="sheet-center">[[CHECK:저작권(유무)|유]] [[CHECK:저작권(유무)|무]]</td>
      <th class="sheet-label">소유자명</th>
      <td class="sheet-center">[[저작권(소유자명)]]</td>
      <th class="sheet-label">저작권 만료일</th>
      <td class="sheet-center">[[저작권(만료일)]]</td>
    </tr>
    <tr>
      <th class="sheet-sub">이용허락</th>
      <td class="sheet-center">[[CHECK:저작권(이용허락)|여]] [[CHECK:저작권(이용허락)|부]]</td>
      <th class="sheet-label">저작권 양도 여부</th>
      <td class="sheet-center">[[CHECK:저작권(양도여부)|여]] [[CHECK:저작권(양도여부)|부]]</td>
      <th class="sheet-label">비고</th>
      <td class="sheet-center">[[저작권(비고)]]</td>
    </tr>
  </table>
</article>
